/* contactus.css */
.contactPageWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background-color: #121212; /* dark neutral background */
  z-index: 200;
  transform: translateX(100%);
  animation: slideIn 0.5s forwards ease-out;
  box-shadow: none; /* remove any red glow */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
